<div class="container contacts-container">
    <div class="app-title">Contact list</div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            Column 1
        </div>
        <div class="col-md-6 col-sm-6">
             <div class="detail-container">
                <div class="contact-title">Contact detail</div>
                <div class="detail-wrapper">
                    <div class="image">
                        <img src="assets/images/people/unknown.jpg" alt="">
                        <div class="name">Mario González</div>
                    </div>
                    <div class="favorite-icon">
                        <img src="assets/images/contactFavoriteDisabled.png" alt="favorite contact">
                    </div>
                    <div class="data">
                        <dl>
                            <dt>Address</dt>
                            <dd>200 Newbury St.</dd>
                            <dt>Zipcode</dt>
                            <dd>02116</dd>
                            <dt>City</dt>
                            <dd>Boston</dd>
                            <dt>Phone</dt>
                            <dd>(555) 1234-567</dd>
                            <dt>Email</dt>
                            <dd>mariog@gmail.com</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


